
<div class="container col col-sm-offset-4 col-sm-4 col-md-offset-4 col-md-4">
<div id="ajax">

  </div>
  <center>
  <h2>Login</h2>
  </center>
  <form action="/action_page.php">
    <div class="form-group">
      <label for="email">Nombre de usuario:</label>
      <input type="email" class="form-control" id="email" placeholder="Digite el nombre de usuario" name="email">
    </div>
    <div class="form-group">
      <label for="pwd">Contraseña:</label>
      <input type="password" class="form-control" id="pwd" placeholder="Digite la contraseña " name="pwd">
    </div>

    <center>
      <button type="button" id="ir" class="btn btn-success">Acceder</button>
    <button type="button" id="no" class="btn btn-danger">Cancelar</button>
  </center>
  </form>
</div>
